
body {
  background-color: antiquewhite;
}

#root {
  margin: 0 auto;
  padding: auto;
  text-align: center;
  background-color: rgb(206, 128, 32);
  display: flex;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  width: 100vw;
}


h1 {
 
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Home Page */

.home-page {
  display: inline-flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.home-content {
  padding: 15px;
}

.intro {
  text-align: left;
  width: 40vw;
  padding: 15px;
  font-size: large;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* About Page */

.about-picture {
  width: 30vw;
  border: 10px solid;
  border-image-slice: 1;
  /* border-width: 7px; */
  border-image-source: linear-gradient(to top, rgb(250, 250, 250), rgba(218, 128, 32, 0.141));
  
}

.projects-page {
  display: grid;
  
}
.resume-page {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.contact-links {
  display: grid;
}









