
body {
  background-image: url(https://github.com/Bryan-Velez/Portfolio/blob/main/software-engineering-portfolio/src/assets/Purple%20Rain%20Gif.gif?raw=true)
}

#root {
  margin: 0 auto;
  padding: auto;
  text-align: center;
  background-image: linear-gradient(to top, rgb(208, 30, 240), rgb(0, 0, 0));
  /* border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgb(208, 30, 240), rgb(0, 0, 0));
  border-left: 30px solid; */
  display: flex;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  width: 100vw;
}


h1 {
 
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Header */
.header {
  background-image: url(https://github.com/Bryan-Velez/Portfolio/blob/main/software-engineering-portfolio/src/assets/Purple%20Gif.gif?raw=true);
  background-size: cover;
  background-position: center;
  border-top: 15px solid white;
}
.header-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.github-icon {
  padding: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Home Page */

.home-page {
  display: inline-flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.home-content {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  text-align: left;
  width: 40vw;
  padding: 15px;
  font-size: 23px;
}

.intro-picture {
  width: 35vw;
  border: 15px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, rgb(250, 250, 250), rgba(218, 128, 32, 0.141));
  justify-content: center;
  
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* About Page */

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Projects Page */

.projects-page {
  display: grid;
  
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Resume Page */

.resume-page {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Contact Page */
.contact-page {
  display:inline-block;
}

.contact-links {
  width: 150px;
  height: 400px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.677), rgb(36, 30, 185));
  border: solid purple 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  float:inline-end;
  
}



/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Footer */

.footer {
  margin-top: 50px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* Media Queries */



@media screen and (max-width: 1600px) {
  .intro {
    font-size: 20px;
  }
  .about-page {
    width: 75vw;
    /* display: flex;
    justify-content: center; */
 
  }
}
@media screen and (max-width: 1200px) {
  .intro {
    font-size: 17px;
    text-align: center;
    padding: 0 20px; 
    width: 70vw;
  }
  .home-page {
    flex-direction: column; 
    justify-content: center;
  }
  .intro-picture {
    width: 55vw;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    font-size: 12px;
  }
}